body {
    background-color: black;
}

.navbar {
    background-color: black;
    height: 50px;
    font-size: 20px;
}

.navbar-brand {
    font-size: 25px;
}

.container {
    margin: 100 50;
    color: white;
    text-align: center;

}

input {
    width: 800px;
    height: 40px;
}

button {
    color: black
}